/* variables */
$bg-dark: #353535;
$bg-grey: #565958;

$font-light: white;
$font-dark:  #353535;

$point-light: #ACF3D3;
$point-sub: #69C7A2;    // 박스 테두리, 포인트 제목
$point-main: #3FB488;   // navbar
$point-dark: #259068;   // navbar--selected
$point-alert: #FF7373;

$sideBar-width: 18rem;