@import "./style.scss";
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url(//db.onlinewebfonts.com/c/fb5493b4963f875c10be222e633c4aa3?family=Rubik+One);
.main{
    margin-top: 10%;
    .planet-name{
        text-align: center;
        font-size: 4.5rem;
        font-family: 'Rubik One' !important;
    }
    background-image: url('../../public/image/stars.png');
    background-size: 50%;
}
body{
    // background-image: url('../../public/image/stars.png');
}
span.carousel-control-prev-icon {
    background-image: url('../../public/image/leftButton.png') !important;
    height: 5rem;
    width: 4rem;
}
span.carousel-control-next-icon {
    background-image: url('../../public/image/rightButton.png') !important;
    height: 5rem;
    width: 4rem;
}
a.carousel-control-prev {
    margin-left: 5% !important;
}

a.carousel-control-next {
    margin-right: 5% !important;
}