@import "variables";

.historyItem {
    height: 3.25rem;
    width: 24rem;
    border-left: 1px solid $point-main;
    padding-left: 1rem;
    position: relative;
    list-style-type: none;

    .marker {
        border: 1px solid $point-main;
        background-color: $bg-dark;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-bottom: 0;
        margin-right: 0.5rem;
    }

    &__header {
        position: absolute;
        width: 6rem;
        top: -6px;
        left: -6px;
        display: flex;
        align-items: center;

        p {
            margin: 0;
            font-size: 0.875rem;
            color: $point-main;
        }
    }

    &__purchaseInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 0.75rem;

        span.priceText {
            font-size: 0.875rem;
        }

        .price {
            margin: 0;
        }

    }

    &__buyer {
        margin: 0;
    }

    
}

.historyItem:last-child {
    border-left: none;
}