@import "./_variables.scss";

div.image, img.image {
    width: 14rem;
    height: 14rem;
    background-color: $point-light;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}