@import "./_variables.scss";


/* font import */
@font-face {
    font-family: 'Pretendard-ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Black';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}


/* global style */

* {
    font-family: 'Pretendard-Light', sans-serif;
    color: $font-light;
    background-color: $bg-dark;
}

body {
    padding: 0;
    margin: 0;
}

main > h1 {
    font-family: 'Pretendard-Black';
    font-size: 2rem;
    margin-top: 0.25rem;
    margin-bottom: 1.25rem;
}

.Box {
    border: 1px solid $point-sub;
    border-radius: 16px;
    padding: 2rem;
}

.PlanetPage {
    display: flex;
    align-items: center;
    margin-right: $sideBar-width;
    
    main {
        padding: 4rem;
    }
}

.SideBar {
    width: $sideBar-width;
    min-width: $sideBar-width;
    height: 100vh;
    background-color: white;
    padding: 1rem;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;

    h1, h2, section, header, dl, dt, dd, div, img, span {
        background-color: white;
        color: $point-sub;
    }

    h1 {
        font-family: 'Pretendard-Black';
        font-size: 1.75rem;
        margin-top: 0.25rem;
        margin-bottom: 1.25rem;
    }

    header {
        border-bottom: 2px dashed $point-sub;
    }

    h2 {
        font-family: 'Pretendard-Black';
    }

    dd, .price .priceText {
        color: $font-dark;
        font-family: 'Pretendard-Bold';
    }

    .price {
        display: flex;
        align-items: center;

        .priceText {
            font-family: 'Pretendard-Black';
            font-size: 1.25rem;
        }

        dd {
            display: flex;
            align-items: center;
        }

        img {
            height: 2rem;
        }
    }

    section {
        padding: 1rem;
    }

    .metadata {
        width: 100%;
        
        div {
            margin-bottom: 1rem;
        }
    }

    .btns {
        position: absolute;
        bottom: 0;

        button {
            width: 14rem;
            height: 3rem;
            margin: 0.5rem 0;

            border-radius: 1.5rem;
            background-color: $point-dark;
            border: none;
        }

    }

    div.image, img.image {
        width: 14rem;
        height: 14rem;
        background-color: $point-light;
    }
    
    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cartList {

    }
    
}


.metadata {
    div {
        margin-bottom: 0.25rem;
    }

    dt {
        color: $point-main;
        font-family: 'Pretendard-ExtraLight';
        display: inline;
    }

    dt::after {
        content: "|";
        margin-left: 0.5rem;
    }

    dd {
        display: inline-block;
        margin-left: 0.5rem;

        word-break: break-all;
    }
}