@import "variables";
.transaction{
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    width: 70%;
    margin-left: 30vh;
    .transaction-board{
        border: 2px solid $point-sub;
        box-sizing: border-box;
        border-radius: 20px;
        
        .transaction-board-th{
            background: $point-sub;
            box-sizing: border-box;
            width: 100%;
            .transaction-board-head{
                font-family: 'Pretendard';
                font-style: normal;
                font-weight: 700;
                font-size: 2vh;
                line-height: 36px;
                align-items: center;
                text-align: center;

                &.num{
                    width: 7rem;
                    border-radius: 18px 0px 0px 0px;
                }
                &.id{
                    width: 40rem;
                }
                
                &.money{
                    width: 10rem;
                }

                &.title{
                    width: 10rem;
                }
                
                &.date{
                    width: 15rem;
                    border-radius: 0 18px 0 0;
                }
            }
        }
        .transaction-board-tbody{
            display: block;
            height: 75vh !important;
            table-layout:fixed;
            overflow-y: visible;
            overflow-x: hidden;
            width: 100%;

            .transaction-board-tr{
                border-bottom: 1px solid $point-light;
                font-family: 'Pretendard';
                font-style: normal;
                font-weight: 500;
                font-size: 1.5vh;
                line-height: 36px;
                align-items: center;
                text-align: center;
                .transaction-board-body{
                    &.number{
                        width: 7rem;
                    }
                    &.tokenID{
                        margin-left: 50px !important;
                        text-align: left !important;
                        margin-bottom: -1rem;
                        font-weight: 600 !important;
                        font-size: 1.7vh !important;
                        color: $point-main;
                    }
                    
                    &.adr{
                        margin-left: 50px !important;
                        text-align: left !important;
                        padding-bottom: 0.2rem;
                    }
                    
                    &.ETH{
                        width: 10rem;
                        text-align: left !important;
                        
                    }
    
                    &.planet{
                        width: 10rem;
                    }
                    
                    &.tradeDate{
                        width: 13rem;
                        border-radius: 0 18px 0 0;
                    }
                }
            }
        }
        .transaction-board-tbody::-webkit-scrollbar {
            width: 10px;
        }
        .transaction-board-tbody::-webkit-scrollbar-track {
            background-color: #e4e4e4;
            border-radius: 100px;
            margin: 10px 0px 10px 0px;
        }
        .transaction-board-tbody::-webkit-scrollbar-thumb {
            border-radius: 100px;
            background-image: linear-gradient(180deg, $point-sub 0%, #708ad4 99%);
            box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
          }
          
    }
}
.eth{
    width: 50px;
    height: auto;
}
thead, tbody tr {

    display:table;

    width:100%;

    table-layout:fixed;/* even columns width , fix width of table too*/

}